@using Minesweeper.UI.Menus;
@using Sandbox;
@using Sandbox.UI;
@using System;
@using System.Linq;

@inherits PanelComponent
@namespace Minesweeper.UI

<root style="left:@(100f * MousePosition.x / Screen.Size.x)%; top:@(100f * MousePosition.y / Screen.Size.y)%;" class=@(IsShowing ? "enabled" : "" )>
	<div class="image"></div>
</root>

@code
{
	public static Vector2 MousePosition { get; private set; }

	public bool IsShowing => !InGameMenu.Instance.IsValid() || !InGameMenu.Instance.IsOpened;

	protected override void OnEnabled()
	{
		if(Scene.Components.GetAll<MousePointerUI>(FindMode.EnabledInSelfAndDescendants).Count(c => c.IsValid) > 1)
		{
			Log.Warning($"There are to many {nameof(MousePointerUI)}, destroying...");
			Destroy();
			return;
		}

		MousePosition = Mouse.Position;
	}

	protected override void OnUpdate()
	{
		if(Mouse.Visible)
		{
			MousePosition = Mouse.Position;
			return;
		}

		MousePosition = (MousePosition + Mouse.Delta).Clamp(Vector2.Zero, Screen.Size - 1);
	}

	protected override int BuildHash() => HashCode.Combine(MousePosition.GetHashCode(), IsShowing);
}