NodesUI {
    pointer-events: none;
    width: 100%;
    height: 100%;

    .info {
        position: absolute;

        .neighbors_count {
            position: absolute;
            font-size: 70%;
            width: 100%;
            color: #fff;
            text-align: center;
            font-weight: bold;
            font-family: Poppins;
            text-stroke: 10px black;
        }
    }
}
